@reference "tailwindcss";

/* Main container */
.photoLayoutContainer {}

/* Photo layout grid */
.photoLayoutGrid {
  @apply -my-4 flex justify-center gap-5 overflow-hidden py-4 sm:gap-8;
}

/* Photo layout item */
.photoLayoutItem {
  @apply relative aspect-9/10 w-44 flex-none overflow-hidden rounded-xl bg-zinc-100 sm:w-72 sm:rounded-2xl dark:bg-zinc-800;
}

/* Photo layout image */
.photoLayoutImage {
  @apply absolute inset-0 h-full w-full object-cover;
}