/* Card link heading */
.cardLinkHeading {
  @apply mt-6 text-base font-semibold text-zinc-800 dark:text-zinc-100;
}

/* Card link background hover effect */
.cardLinkBackground {
  @apply absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 sm:-inset-x-6 sm:rounded-2xl dark:bg-zinc-800/50;
}

/* Card link clickable area */
.cardLinkClickableArea {
  @apply absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl;
}

/* Card link content wrapper */
.cardLinkContent {
  @apply relative z-10;
}
