*.{jpg,jpeg,png,gif,svg,woff,woff2} filter=lfs diff=lfs merge=lfs -text
*.{node,exe,dll,so,dylib,wasm,bin} filter=lfs diff=lfs merge=lfs -text
*.{mp4,mov,avi,mkv,webm,mp3,wav,flac,zip,tar,7z,gz,pdf,psd,ai} filter=lfs diff=lfs merge=lfs -text
