[submodule "packages/vitest-presets"]
	path = packages/vitest-presets
	url = git@github.com-guyromellemagayano:guyromellemagayano/portfolio-vitest-presets.git
[submodule "packages/config-typescript"]
	path = packages/config-typescript
	url = git@github.com-guyromellemagayano:guyromellemagayano/portfolio-config-typescript.git
[submodule "packages/config-eslint"]
	path = packages/config-eslint
	url = git@github.com-guyromellemagayano:guyromellemagayano/portfolio-config-eslint.git
