[submodule "packages/vitest-presets"]
	path = packages/vitest-presets
	url = git@github.com-guyromellemagayano:guyromellemagayano/portfolio-vitest-presets.git
[submodule "packages/config-typescript"]
	path = packages/config-typescript
	url = git@github.com-guyromellemagayano:guyromellemagayano/portfolio-config-typescript.git
[submodule "packages/config-eslint"]
	path = packages/config-eslint
	url = git@github.com-guyromellemagayano:guyromellemagayano/portfolio-config-eslint.git
[submodule "packages/utils"]
	path = packages/utils
	url = git@github.com-guyromellemagayano:guyromellemagayano/portfolio-utils.git
[submodule "packages/hooks"]
	path = packages/hooks
	url = git@github.com-guyromellemagayano:guyromellemagayano/portfolio-hooks.git
[submodule "packages/components"]
	path = packages/components
	url = git@github.com-guyromellemagayano:guyromellemagayano/portfolio-components.git
[submodule "packages/ui"]
	path = packages/ui
	url = git@github.com-guyromellemagayano:guyromellemagayano/portfolio-ui.git
[submodule "packages/api-contracts"]
	path = packages/api-contracts
	url = git@github.com-guyromellemagayano:guyromellemagayano/porfolio-api-contracts.git
[submodule "packages/logger"]
	path = packages/logger
	url = git@github.com-guyromellemagayano:guyromellemagayano/portfolio-logger.git
[submodule "apps/opsdesk"]
	path = apps/opsdesk
	url = git@github.com-guyromellemagayano:guyromellemagayano/portfolio-admin.git
[submodule "apps/e2e"]
	path = apps/e2e
	url = git@github.com-guyromellemagayano:guyromellemagayano/portfolio-e2e.git
[submodule "apps/api-portfolio"]
	path = apps/api-portfolio
	url = git@github.com-guyromellemagayano:guyromellemagayano/portfolio-api.git
