@reference "tailwindcss";

/* Theme toggle button */
.headerThemeToggleButton {
  @apply group rounded-full bg-white/90 px-3 py-2 shadow-lg ring-1 shadow-zinc-800/5 ring-zinc-900/5 backdrop-blur-sm transition dark:bg-zinc-800/90 dark:ring-white/10 dark:hover:ring-white/20;
}

/* Theme toggle sun icon */
.headerThemeToggleSunIcon {
  @apply h-6 w-6 fill-zinc-100 stroke-zinc-500 transition group-hover:fill-zinc-200 group-hover:stroke-zinc-700 dark:hidden [@media(prefers-color-scheme:dark)]:fill-teal-50 [@media(prefers-color-scheme:dark)]:stroke-teal-500;
}

/* Theme toggle moon icon */
.headerThemeToggleMoonIcon {
  @apply hidden h-6 w-6 fill-zinc-700 stroke-zinc-500 transition not-[@media_(prefers-color-scheme:dark)]:fill-teal-400/10 not-[@media_(prefers-color-scheme:dark)]:stroke-teal-500 dark:block [@media(prefers-color-scheme:dark)]:fill-teal-400 [@media(prefers-color-scheme:dark)]:stroke-teal-500;
}