@reference "tailwindcss";

/* Main footer component */
.footerComponent {
  @apply mt-32 flex-none;
}

/* Footer content wrapper */
.footerContentWrapper {
  @apply border-t border-zinc-100 pt-10 pb-16 dark:border-zinc-700/40;
}

/* Footer layout */
.footerLayout {
  @apply flex flex-col items-center justify-between gap-6 md:flex-row;
}

