@reference "tailwindcss";

/* Article wrapper */
.articleList {
  @apply md:border-l md:border-zinc-100 md:pl-6 md:dark:border-zinc-700/40;
}

/* Article children wrapper */
.articleListChildren {
  @apply flex w-full max-w-3xl flex-col space-y-16;
}