@reference "tailwindcss";

/* Desktop navigation item */
.desktopHeaderNavItem {
}

/* Desktop navigation item link */
.desktopHeaderNavItemLink {
  @apply relative block px-3 py-2 transition;
}

/* Desktop navigation item link active */
.desktopHeaderNavItemLinkActive {
  @apply text-teal-500 dark:text-teal-400;
}

/* Desktop navigation item link hover */
.desktopHeaderNavItemLinkHover {
  @apply hover:text-teal-500 dark:hover:text-teal-400;
}

/* Desktop navigation active indicator */
.desktopHeaderNavActiveIndicator {
  @apply absolute inset-x-1 -bottom-px h-px bg-linear-to-r from-teal-500/0 via-teal-500/40 to-teal-500/0 dark:from-teal-400/0 dark:via-teal-400/40 dark:to-teal-400/0;
}