@reference "tailwindcss";

/* Footer navigation link base */
.footerNavLink {
  @apply transition hover:text-teal-500 dark:hover:text-teal-400;
}

/* Footer navigation link active state */
.footerNavLinkActive {
  @apply text-teal-600 dark:text-teal-300;
}
