@reference "tailwindcss";

/* Footer navigation list */
.footerNavigationList {
  @apply flex flex-wrap justify-center gap-x-6 gap-y-1 text-sm font-medium text-zinc-800 dark:text-zinc-200;
}

/* Footer navigation item */
.footerNavigationItem {
  @apply transition hover:text-neutral-950 dark:hover:text-neutral-200;
}

/* Footer navigation link */
.footerNavigationLink {
  @apply transition hover:text-teal-500 dark:hover:text-teal-400;
}


