@reference "tailwindcss";

/* Social link */
.socialLink {
  @apply group -m-1 p-1;
}

/* Social link icon */
.socialLinkIcon {
  @apply h-6 w-6 fill-zinc-500 transition group-hover:fill-zinc-600 dark:fill-zinc-400 dark:group-hover:fill-zinc-300;
}