@import "tailwindcss";
@import "./prism.css" layer(components);

@plugin "@tailwindcss/typography";

@config "../../typography.ts";

@source "../../../../packages/ui/src";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-display: "Familjen Grotesk", sans-serif;
  --font-sans: "Inter", system-ui, sans-serif;
  --color-mist-50: oklch(98.7% 0.002 197.1deg);
  --color-mist-100: oklch(96.3% 0.002 197.1deg);
  --color-mist-200: oklch(92.5% 0.005 214.3deg);
  --color-mist-300: oklch(87.2% 0.007 219.6deg);
  --color-mist-400: oklch(72.3% 0.014 214.4deg);
  --color-mist-500: oklch(56% 0.021 213.5deg);
  --color-mist-600: oklch(45% 0.017 213.2deg);
  --color-mist-700: oklch(37.8% 0.015 216deg);
  --color-mist-800: oklch(27.5% 0.011 216.9deg);
  --color-mist-900: oklch(21.8% 0.008 223.9deg);
  --color-mist-950: oklch(14.8% 0.004 228.8deg);
}

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-mist-100);

    --scroll-padding-top: 0;

    scroll-padding-top: var(--scroll-padding-top);

    @variant dark {
      background-color: var(--color-mist-950);
    }
  }
}
