/* Avatar container */
.avatarContainer {
  @apply h-10 w-10 rounded-full bg-white/90 p-0.5 shadow-lg ring-1 shadow-zinc-800/5 ring-zinc-900/5 backdrop-blur-sm dark:bg-zinc-800/90 dark:ring-white/10;
}

/* Avatar link */
.avatarLink {
  @apply pointer-events-auto;
}

/* Avatar image base */
.avatarImage {
  @apply rounded-full bg-zinc-100 object-cover dark:bg-zinc-800;
}

/* Avatar image default size */
.avatarImageDefault {
  @apply h-9 w-9;
}

/* Avatar image large size */
.avatarImageLarge {
  @apply h-16 w-16;
}
