http:
  middlewares:
    traefik-dashboard-root-redirect:
      redirectRegex:
        regex: "^http://([^/]+)/?$"
        replacement: "http://${1}/dashboard/"
        permanent: false
    traefik-dashboard-root-redirect-secure:
      redirectRegex:
        regex: "^https://([^/]+)/?$"
        replacement: "https://${1}/dashboard/"
        permanent: false
  routers:
    traefik-root:
      rule: "Host(`traefik.guyromellemagayano.local`) && Path(`/`)"
      entryPoints:
        - web
      priority: 100
      middlewares:
        - traefik-dashboard-root-redirect
      service: api@internal
    traefik:
      rule: "Host(`traefik.guyromellemagayano.local`)"
      entryPoints:
        - web
      service: api@internal
    traefik-root-secure:
      rule: "Host(`traefik.guyromellemagayano.local`) && Path(`/`)"
      entryPoints:
        - websecure
      priority: 100
      middlewares:
        - traefik-dashboard-root-redirect-secure
      tls: {}
      service: api@internal
    traefik-secure:
      rule: "Host(`traefik.guyromellemagayano.local`)"
      entryPoints:
        - websecure
      tls: {}
      service: api@internal
    portfolio-api:
      rule: "Host(`api.guyromellemagayano.local`)"
      entryPoints:
        - web
      service: portfolio-api
    portfolio-api-secure:
      rule: "Host(`api.guyromellemagayano.local`)"
      entryPoints:
        - websecure
      tls: {}
      service: portfolio-api
    portfolio-web:
      rule: "Host(`guyromellemagayano.local`)"
      entryPoints:
        - web
      service: portfolio-web
    portfolio-web-secure:
      rule: "Host(`guyromellemagayano.local`)"
      entryPoints:
        - websecure
      tls: {}
      service: portfolio-web
    portfolio-admin:
      rule: "Host(`admin.guyromellemagayano.local`)"
      entryPoints:
        - web
      service: portfolio-admin
    portfolio-admin-secure:
      rule: "Host(`admin.guyromellemagayano.local`)"
      entryPoints:
        - websecure
      tls: {}
      service: portfolio-admin
  services:
    portfolio-api:
      loadBalancer:
        servers:
          - url: "http://api:5001"
    portfolio-web:
      loadBalancer:
        servers:
          - url: "http://web:3000"
    portfolio-admin:
      loadBalancer:
        servers:
          - url: "http://admin:3001"
