@reference "tailwindcss";

/* Article list item styles */
.articleListItem {
  @apply md:grid md:grid-cols-4 md:items-baseline;
}

/* Article list item card styles */
.articleListItemCard {
  @apply md:col-span-3;
}