@reference "tailwindcss";

/* Main CTA container */
.cardCtaContainer {
  @apply relative z-10 mt-2 flex items-start text-sm font-medium text-amber-500;
}

/* CTA link */
.cardCtaLink {
  @apply flex items-center transition hover:text-amber-600 dark:hover:text-amber-600;
}

/* CTA icon */
.cardCtaIcon {
  @apply ml-1 h-4 w-4 stroke-current;
}