@reference "tailwindcss";

/* Article layout container */
.articleLayoutContainer {
  @apply mt-16 lg:mt-32;
}

/* Article wrapper */
.articleWrapper {
  @apply xl:relative;
}

/* Article content */
.articleContent {
  @apply mx-auto max-w-2xl;
}

/* Article header */
.articleHeader {
  @apply flex flex-col;
}

/* Article title */
.articleTitle {
  @apply mt-6 text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl dark:text-zinc-100;
}

/* Article date */
.articleDate {
  @apply order-first flex items-center text-base text-zinc-400 dark:text-zinc-500;
}

/* Article date separator */
.dateSeparator {
  @apply h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500;
}

/* Article date text */
.dateText {
  @apply ml-3;
}

/* Article content */
.articleProse {
  @apply mt-8;
}

