@reference "tailwindcss";

/* Container inner wrapper */
.containerInner {
  @apply relative px-4 sm:px-8 lg:px-12;
}

/* Container inner content */
.containerInnerContent {
  @apply mx-auto max-w-2xl lg:max-w-5xl;
}
